/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2020, 12:03:17 PM
    Author     : Zafrul Hasan Nasim
*/
body{
    
    background: url('../image/bodyblog5.jpg');
    background-size: 400px 200px;
}
.welcome-title{
   
    text-align: center;
    animation: bymove 4s infinite;
}

@keyframes bymove{
   
   0%{
      color:red;
      
   }
   25%{
       color:green;
   }
   50%{
       color :yellow;
   }
   75%{
       color:orange;
   }
   100%{
       color: white;
   }


}

.container
{
    
   width: 400px;
    margin: 90px auto;
    background: #ff3333;
    position: center;
}

.container form{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 50 cm;
    color:wheat;
    text-transform:none;
    position: relative;
    top: 20%;
    transform: translateY(5%);
    text-align: center;
    
}

.title{
    font-size:32px;
    font-weight: normal;
    margin: 2 3 40px;
    text-align: center;
    color: blue;
}

.name{
   
    height: 35px;
    width: 280px;
    color:black;
     background-color:#ffcccc;
     font-style: italic;
    
    
}
.code{
   height: 35px;
    width: 280px;
    color:black;
    font-style: italic;
    background-color:#ffcccc;
   
}
.password
{
    height: 35px;
    width: 280px;
     color: black;
     font-style: italic;
    background-color:#ffcccc;
    
}
.button{
    margin-left: 15px; 
    font-size: large;
    color:white;
    background: blue;
    border: 1px blue solid;
}
.button:hover{
    background: #33ff33;
}

.container-select-file{
    width: 400px;
    height: 200px;
    margin: 80px auto;
    background: #ff3333;
    position: center;
}
.container-select-file form{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 50 cm;
    color:wheat;
    text-transform:none;
    
    text-align: center;
    position: relative;
    top: 5%;
    transform: translateY(5%);

}
.teacher_container{
    width: 340px;
    height:100px;
    margin: -300px auto;
    background: #009933;
    color: white;
    position: absolute;
    left:100px;
    border: 2px #ff3333 solid;
}
.teacher_container .tooltip{
    position: relative;
    top: -30%;
    left: 40%;
    transform: translateY(-30%);
}
.tooltip {
  position: relative;
  display: inline-block;
    
    position: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}